@charset "UTF-8";
/*!
 * Path : utils/_util.scss
 * 		工具样式
 *		
 * Copyright 2016 JiaCheng GeZhiGang
 */
/* 警告框*/
.jbox-container .jbox-span span{margin: 0px 5px;}

.hide{display:none}
.show{display:block}
.invisible{visibility:hidden}
.affix{position:fixed}
.pull-right{float:right}
.pull-left{float:left}
.fl{float:left;}
.fr{float:right;}
.tl{text-align:left;}
.tr{text-align:right;}
.tc{text-align:center;}
.m-xs{margin:5px;}
.m-sm{margin:10px;}
.m{margin:15px;}
.m-md{margin:20px;}
.m-lg{margin:30px;}
.m-n{margin:0;}
.m-l-none{margin-left:0;}
.m-l-xs{margin-left:5px;}
.m-l-sm{margin-left:10px;}
.m-l{margin-left:15px;}
.m-l-md{margin-left:20px;}
.m-l-lg{margin-left:30px;}
.m-l-xl{margin-left:40px;}
.m-l-n-xxs{margin-left:-1px;}
.m-l-n-xs{margin-left:-5px;}
.m-l-n-sm{margin-left:-10px;}
.m-l-n{margin-left:-15px;}
.m-l-n-md{margin-left:-20px;}
.m-l-n-lg{margin-left:-30px;}
.m-l-n-xl{margin-left:-40px;}
.m-t-none{margin-top:0;}
.m-t-xxs{margin-top:1px;}
.m-t-mxs{margin-top:2px;}
.m-t-xs{margin-top:5px;}
.m-t-sm{margin-top:10px;}
.m-t{margin-top:15px;}
.m-t-md{margin-top:20px;}
.m-t-lg{margin-top:30px;}
.m-t-xl{margin-top:40px;}
.m-t-n-xxs{margin-top:-1px;}
.m-t-n-xs{margin-top:-5px;}
.m-t-n-sm{margin-top:-10px;}
.m-t-n{margin-top:-15px;}
.m-t-n-md{margin-top:-20px;}
.m-t-n-lg{margin-top:-30px;}
.m-t-n-xl{margin-top:-40px;}
.m-r-none{margin-right:0;}
.m-r-xs{margin-right:5px;}
.m-r-sm{margin-right:10px;}
.m-r{margin-right:15px;}
.m-r-md{margin-right:20px;}
.m-r-lg{margin-right:30px;}
.m-r-xl{margin-right:40px;}
.m-r-n-xxs{margin-right:-1px;}
.m-r-n-xs{margin-right:-5px;}
.m-r-n-sm{margin-right:-10px;}
.m-r-n{margin-right:-15px;}
.m-r-n-md{margin-right:-20px;}
.m-r-n-lg{margin-right:-30px;}
.m-r-n-xl{margin-right:-40px;}
.m-b-none{margin-bottom:0 !important;}
.m-b-xs{margin-bottom:5px;}
.m-b-sm{margin-bottom:10px;}
.m-b{margin-bottom:15px;}
.m-b-md{margin-bottom:20px;}
.m-b-lg{margin-bottom:30px;}
.m-b-xl{margin-bottom:40px;}
.m-b-xxl{margin-bottom:50px;}
.m-b-n-xxs{margin-bottom:-1px;}
.m-b-n-xs{margin-bottom:-5px;}
.m-b-n-sm{margin-bottom:-10px;}
.m-b-n{margin-bottom:-15px;}
.m-b-n-md{margin-bottom:-20px;}
.m-b-n-lg{margin-bottom:-30px;}
.m-b-n-xl{margin-bottom:-40px;}
.m-l-215{margin-left: 215px;}
.m-l-218{margin-left: 218px;}
.w46{width:46px;padding:0 !important;}
.w60{width:60px;}
.w66{width:66px;}
.w74{width:74px;}
.w84{width:84px;}
.w90{width:90px;}
.w100{width:100px;} 
.w105{width:105px !important;}
.w115{width:115px;}
/*表格姓名列的宽度*/
.w140{width:140px;}
/*查询条件短列的宽度*/
.w170{width:170px;}
/*2个编辑按钮的宽度*/
.w200{width:200px;}
.w210{width:210px;}
.w240{width:240px;}
.w276{width:276px;}
/*3个编辑按钮的宽度*/
.w300{width:300px;}
.w358{width:358px;}
.w530{width:530px;}
.w600{width:600px;}
.w820{width:820px;}
.w900{width:900px;}
.w1100{width:1100px;}
@media (max-width: 1024px) {
	form.w900{width:600px;}
}
/*邮箱列表星标大小*/
.f-s-md{font-size:18px;}

.w-p1{width: 1%;word-break: keep-all;white-space:nowrap;}
.w-p100{width: 100%;}
.clearfix:before,.clearfix:after{display:table;content:" ";}
.clearfix:after{clear:both;}

.text-light{color:#fbfbfb;}
.text-light-select{color:#a1b2c7;}
.text-dark{color:#2e3e4e;}
.text-white{color:#fff;}
.text-black{color:#000;}
.text-danger{color:#f66;}
.text-muted{color:#979797;}
.text-grey-bbb{color:#bbb;}
.text-grey-999,.text-grey-999 a{color:#999;}
.text-grey-777{color: #777;}
.text-grey-666,.text-grey-666 a{color:#666;}
.text-grey-555,.text-grey-555 a{color:#555;}
.text-grey-444,.text-grey-444 a{color:#444;}
.text-grey-333,.text-grey-333 a{color:#333;}
.text-persion-line{color: #60AAE9 !important}
.text-primary{color:#65bd77;}
.text-info{color:#4cc0c1;}
.text-warning{color:#ffc333;}
.text-green{color:#8ec165;}
.text-red{color:#fb6b5b;}
.btc-danger{border-top-color:#fb6b5b;}
.btc-warning{border-top-color:#ffc333;}
.btc-primary{border-top-color:#8ec165;}
.btc-info-dark{border-top-color:#60aae9;}
.btc-success{border-top-color:#aece4e;}
.btc-info{border-top-color:#00c0ef;}
.btc-warning-dark{border-top-color:#f3a641;}
.btc-primary-dark{border-top-color:#00a65a;}
.bbc-danger{border-bottom-color:#fb6b5b;}
.bbc-warning{border-bottom-color:#ffc333;}
.bbc-primary{border-bottom-color:#8ec165;}
.bbc-info-dark{border-bottom-color:#60aae9;}
.bbc-success{border-bottom-color:#aece4e;}
.bbc-info{border-bottom-color:#00c0ef;}
.bbc-warning-dark{border-bottom-color:#f3a641;}
.bbc-primary-dark{border-bottom-color:#00a65a;}
.brc{border:1px solid #ccc;}
.bg-red{background-color:#fb6b5b;}
.bg-yellow{background-color:#ffc333;}
.bg-green{background-color:#8ec165;}
.bg-blue{background-color:#60aae9;}
.bg-green-lt{background-color:#aece4e;}
.bg-blue-lt{background-color:#00c0ef;}
.bg-yellow-dark{background-color:#f3a641;}
.bg-green-dark{background-color:#00a65a;}
.bg-white .cbox-head{background-color: lighten($global-btn-drak ,5%);}
.bg-warning{background-color:#ffc333;}
.bg-primary{background-color:#8ec165;}
.bg-info-dark{background-color:#60aae9;}
.bg-success{background-color:#aece4e;}
.bg-info{background-color:#00c0ef;}
.bg-warning-dark{background-color:#f3a641;}
.bg-primary-dark{background-color:#00a65a;}
.bg-light{background-color:#fefefe;}
.bg-light.bg-thead{background-color:#f9f8f5;color:#333;}
.bg-white{background-color:#fff;}
.bg-empty{background-color:transparent;}
.bg-gradient{background-image:-webkit-gradient(linear,left 0,left 100%,from(rgba(40,50,60,0)),to(rgba(40,50,60,0.05)));background-image:-webkit-linear-gradient(top,rgba(40,50,60,0),0,rgba(40,50,60,0.05),100%);background-image:-moz-linear-gradient(top,rgba(40,50,60,0) 0,rgba(40,50,60,0.05) 100%);background-image:linear-gradient(to bottom,rgba(40,50,60,0) 0,rgba(40,50,60,0.05) 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0028323c',endColorstr='#0c28323c',GradientType=0);filter:none;}
.pos-rlt{position:relative;}
.pos-stc{position:static;}
.pos-abt{position:absolute;}
.no-border,.no-borders{border-color:transparent;border-width:0;}
.no-radius{border-radius:0;}
.block{display:block !important;}
.block.hide{display:none;}
.inline{display:inline-block;}
.pull-right-lg{float:right;}
.pull-none{float:none;}
.btn-s-xs{min-width:90px;}
.btn-s-sm{min-width:100px;}
.btn-s-md{min-width:120px;}
.btn-s-lg{min-width:150px;}
.btn-s-xl{min-width:200px;}
.l-h-2x{line-height:2em;}
.l-h-1x{line-height:1.2;}
.l-h{line-height:1.5;}
.v-middle{vertical-align:middle !important;}
.v-top{vertical-align:top !important;}
.v-bottom{vertical-align:bottom !important;}
.font-thin{font-weight:300;}
.font-normal{font-weight:normal;}
.font-semibold{font-weight:600;}
.font-bold{font-weight:700;}
.text-md{font-size:0.85em;}
.text-sm{font-size:12px;}
.text-xs{font-size:10px;}
.text-ellipsis{display:block;white-space:nowrap;width:100%;overflow:hidden;text-overflow:ellipsis;}
.text-uc{text-transform:uppercase;}
.text-lt{text-decoration:line-through;}
.text-ul{text-decoration:underline;}
.box-shadow{box-shadow:0 1px 3px rgba(0,0,0,0.05);}
.avatar{border:1px solid rgba(255,255,255,0.35);display:block;border-radius:500px;white-space:nowrap;}
.avatar img{border-radius:500px;}
.wrapper-sm{padding:10px;}
.wrapper{padding:15px;}
.wrapper-lg{padding:30px;}
.wrapper-xl{padding:50px;}
.padder{padding-left:15px;padding-right:15px;}
.padder-v{padding-top:15px;padding-bottom:15px;}
.no-padder{padding:0 !important;}
.pull-in{margin-left:-15px;margin-right:-15px;}
.pull-out{margin:-10px -15px;}
.b-a{border:1px solid #cfcfcf;}
.b-t{border-top:1px solid #cfcfcf;}
.b-t-n{border-top:0 none !important}
.b-b-n{border-bottom: 0 none !important;}
.b-r{border-right:1px solid #cfcfcf;}
.b-b{border-bottom:1px solid #cfcfcf;}
.b-l{border-left:1px solid #cfcfcf;}
.b-light{border-color:#ededed;}
.b-dark{border-color:#374b5e;}
.b-primary{border-color:#77c587;}
.b-success{border-color:#9bc877;}
.b-info{border-color:#5fc7c8;}
.b-warning{border-color:#ffcb4d;}
.b-danger{border-color:#fc8174;}
.b-black{border-color:#353535;}
.b-white{border-color:#fff;}
.b-2x{border-width:2px;}
.b-3x{border-width:3px;}
.r{border-radius:2px 2px 2px 2px;}
.r-l{border-radius:2px 0 0 2px;}
.r-r{border-radius:0 2px 2px 0;}
.r-t{border-radius:2px 2px 0 0;}
.r-b{border-radius:0 0 2px 2px;}
small{font-size:90%;}
.badge-white{background-color:transparent;border:1px solid rgba(255,255,255,0.35);padding:2px 6px;}
.badge-hollow{background-color:transparent;border:1px solid rgba(0,0,0,0.15);color:inherit;}
.caret-white{border-top-color:#fff;border-top-color:rgba(255,255,255,0.65);}
a:hover .caret-white{border-top-color:#fff;}
.aside-xs{width:48px;}
.aside{width:180px;}
.aside-sm{width:150px;}
.aside-smd{width:196px;}
.aside-md{width:240px;}
.aside-lg{width:250px;}
.aside-xl{width:300px;}
.aside-xxl{width:450px;}
.visible-nav-xs{display:none;}
.text-blue{color:#0063a6;}
.b-b-d{border-bottom:1px dashed #cfcfcf;}
.m-r-100{margin-right:100px;}
.m-r-85{margin-right:85px;}
.m-l-20{margin-left:20px;}
.m-l-40{margin-left:40px;}
.m-b-50{margin-bottom:50px;}
.dialog-text-90{width:90%;}
.f14{font-size:14px;}
.f18{font-size:18px;}
.simple{display:none;}
.outgoing-list .red-dark{color:#fb6b5b;}
@-moz-document url-prefix(){.w359{width:359px;}}

.dis-table{display:table;width: 100%;}
.dis-table-cell{display: table-cell;vertical-align: top;}
.page-404{text-align: center;margin-top: 200px;position: relative;}
.page-404 .page-500{position:absolute;width:600px;height:100px;left:50%;margin-left:-300px;padding-left:280px;text-align:left;background:url(../../../../images/demoimg/img_500.jpg?v=bad528a077) no-repeat;font-size:$global-font-size +4;color:#5faaeb;line-height:1.5;}
input+.popover{max-width: none;}
.required{color: red;margin-right: 3px;font-size: $global-font-size + 2;}
.sfsld{display: none;}
.form-table .select2-wrap{padding: 5px 0;}
.select2-wrap label.error{margin-bottom:0;}
img{max-width:100%}
ul,li{list-style:none;}
.table-left tr td{text-align: left !important;}
.slimScrollBar{border-radius:0 !important;}
.taskArrangement a{display: block;}
.taskArrangement a:hover{color: #000;}
/*label去掉冒号*/
.input-group label.p-r{padding-right:15px;}
.input-group label.p-l{padding-left:15px;}
.panel .form-table .select-md{width:200px;}
.loading{background:url(../images/jbox-loading1.gif?v=1945916e0d) center no-repeat;position:absolute;top:0;right:0;left:0;bottom:0;z-index:99999999999999999;}
.loading-fixed{background:url(../images/jbox-loading1.gif?v=1945916e0d) center no-repeat;position:fixed;top:0;right:0;left:0;bottom:0;z-index:99999999999999999;}
input.error,select.error{border-color: red !important;}
label.error{color: red;}
/*控制打印，防止打印出现空白页*/
@media print{.onprint{display:none;}.jcGOA{background-color:#fff;height:auto;overflow:auto;}.jcGOA body{height:auto;overflow:auto;}}
@media print\0{.jcGOA{background-color:#fff;height:auto;overflow:auto;}.jcGOA body{height:auto;overflow:auto;}}