<%- include('../../../layout/'+styles+'/header.html') %>

<section class="scrollable padder jcGOA-section" id="scrollable">
    <header class="crumbs-container pull-in" id="navigationMenu"></header>
    <section class="panel m-t-md search-box clearfix">
        <div class="content">
            <h2 class="panel-heading clearfix">pages/com/dropdown/index.html</h2>
            <div class="table-wrap">
                <div class="dropdown">
                    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        下拉菜单触发器
                        <span class="caret"></span>
                    </a>
    
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">下拉一</a>
                        </li>
                        <li>
                            <a href="#">下拉二</a>
                        </li>
                        <li>
                            <a href="#">下拉三</a>
                        </li>
                        <li>
                            <a href="#">下拉四</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</section>

<%- include('../../../layout/'+styles+'/footer.html') %>
