<%- include('../../../layout/'+styles+'/header.html') %>
<link rel="stylesheet" type="text/css" href="<%= rootPath%>public/css/calendar/jc.calendar.css">
<script type="text/javascript" src="<%= rootPath%>public/js/jc/calendars/jc.calendar.js"></script>
<script type="text/javascript" src="<%= rootPath%>public/js/jc/calendars/jc.fullcalendarNew.js"></script>
<section class="scrollable padder jcGOA-section" id="scrollable">
    <header class="crumbs-container pull-in" id="navigationMenu"></header>
    <section class="panel m-t-md search-box clearfix">
        <h2 class="panel-heading clearfix">com/page/calendar/calendar.html</h2>
		<div id="calendar" style="margin:20px 15px;"></div>
    </section>
</section>

<%- include('../../../layout/'+styles+'/footer.html') %>