@charset "utf-8";
//面包屑
.crumbs-container {
  padding-top: 15px;
  padding-left: 25px;
  height: 50px;
  background-color: #fff;
  a {
    color: #428bca;
    text-decoration: none;
  }
  .crumbs{
    i:after {
      content: "/\00a0";
      padding: 0 5px 0 7px;
      color: #555555;
      font-style: normal;
    }
  }
}

