<%- include('../../../layout/'+styles+'/header.html') %>

<section class="scrollable padder jcGOA-section" id="scrollable">
    <header class="crumbs-container pull-in" id="navigationMenu"></header>
    <section class="panel m-t-md search-box clearfix">
        <div class="content">
            <h2 class="panel-heading clearfix">pages/com/downarea/index.html</h2>
            <div class="tabs-wrap table-wrap tabs-wrap-in">
                <ul id="myTab" class="nav nav-tabs clearfix">
                        <li class="active">
                            <a href="#home" data-toggle="tab">tab1</a>
                        </li>
                        <li>
                            <a href="#tab2" data-toggle="tab">tab2</a>
                        </li>
                        <li>
                            <a href="#tab3" data-toggle="tab">tab3</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="home">
                            <p>tab1 data 属性的标签页（Tab）插件</p>
                        </div>
                        <div class="tab-pane fade" id="tab2">
                            <p>tab2</p>
                        </div>
                        <div class="tab-pane fade" id="tab3">
                            <p>tab3</p>
                        </div>
                    </div>
            </div>
        </div>
    </section>
</section>
<%- include('../../../layout/'+styles+'/footer.html') %>