<%- include('../../../layout/'+styles+'/header.html') %>
<section class="scrollable padder jcGOA-section" id="scrollable">
    <header class="crumbs-container pull-in" id="navigationMenu"></header>
    <section class="panel m-t-md search-box clearfix">
        <div class="content">
            <h2 class="panel-heading clearfix">pages/com/downarea/index.html</h2>
            <form id="testForm" class="table-wrap input-textarea plan-table">
                <table id="preSum" class="table table-striped">
                    <thead>
                    <tr>
                        <th>大弹框提示</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div autoflowform="content"
                                    class="down-area input-div autoSumDiv"
                                    tabindex="-1"
                                    data-toggle="downarea"
                                    id="preSum_0_1"
                                    name="preSum_0_1"
                                    data-original-title=""
                                    title="">弹出大弹框
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </section>
</section>

<%- include('../../../layout/'+styles+'/footer.html') %>