<% include ../../../layout/classics/header.html %>
<style>
    .content{
        position: relative;
        width:100%;
        min-height:500px;
    }
    .container{
        position: absolute;
        left:10px;
        top:10px;
        border:1px solid #ccc;
        text-align:center;
        margin:10px;
        
    }
    
</style>

<section class="scrollable padder jcGOA-section" id="scrollable">
    <section class="panel m-t-md search-box clearfix">
        <h2 class="panel-heading clearfix">IDE/classice/index.html</h2>
        <div class="content">
            <div class="container" style="width:200px;height:200px;">内容区域</div>
        </div>
    </section>
</section>



<% include ../../../layout/classics/footer.html %>